<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <h2 class="section-heading">Contact</h2>
                <hr class="primary">
                <p>{{ site.address }}</p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-3 offset-lg-1 text-center">
                <a href="mailto:{{ site.email }}">
                    <i class="fas fa-3x fa-envelope wow animate__bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.email }}</p>
                </a>
            </div>
            <div class="col-lg-3 offset-lg-1 text-center">
                <a href="tel:+4{{ site.mobile }}">
                    <i class="fas fa-3x fa-mobile-alt wow animate__bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.mobile }}</p>
                </a>
            </div>
            <div class="col-lg-3 offset-lg-1 text-center">
                <a href="tel:+4{{ site.fax }}">
                    <i class="fas fa-3x fa-fax wow animate__bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.fax }}</p>
                </a>
            </div>
        </div>
    </div>
</section>
