<nav id="mainNav" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ '/' | relative_url }}" aria-label="TopoSystem - pagina principală">
            <img src="{{ '/img/toposystem-mark.svg' | relative_url }}" alt="" width="38" height="38">
            <span class="brand-name">Topo<span>System</span></span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ '/' | relative_url }}">Acasă</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ '/#services' | relative_url }}">Servicii</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ '/#certificates' | relative_url }}">Certificări</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ '/#contact' | relative_url }}">Contact</a>
                </li>
                <li class="nav-item ms-lg-2">
                    <a class="nav-link nav-phone" href="tel:+4{{ site.mobile }}"><i class="fas fa-phone" aria-hidden="true"></i> {{ site.mobile }}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
